* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #f5f6fa;
  display: flex;
  flex-direction: column;
  margin-left: 15rem;
  margin-right: 15rem;
  margin-top: 10rem; 
  margin-bottom: 10rem;
}

header {
  width: 100%;
  border: 3px solid #e8e8e8;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 15vh;
  margin-bottom: 30px;
}

.headerContent {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-left: 10rem;
  padding-right: 5rem;
  color: #0290ff;
}

.titleLinks {
  width: 50%;
  display: flex;
  align-items: center;
}

.titleLinks h2 {
  font-weight: bold;
}

.header-links {
  display: flex;
}

.header-links li {
  margin-right: 2rem;
  list-style-type: none;
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-links a {
  text-decoration: none;
  color: #121212;
  font-size: 1.200rem;
}

.header-links a:hover {
  font-weight: bold;
}

.userdiv {
  width: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  font-size: 2rem;
}

.booksBody {
  background: #fafafa;
  height: 100vh;
  /*margin-top: -1.800rem; */
}

.card-complete {
  width: 100%;
  height: 30vh;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.250rem;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
}

.info {
  width: 45%;
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  justify-content: center;
}

.bookInfo {
  width: 100%;
  list-style-type: none;
}

.book-category {
  font-weight: bold;
  color: #868383;
}

.book-title {
  color: #121212;
  font-size: 1.750rem;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
}

.book-author {
  color: #4386bf;
  font-weight: 300;
  font-family: 'Roboto Slab', serif;
}

.buttons {
  width: 100%;
  display: flex;
}

.info-btn {
  width: 5rem;
  margin-right: 1rem;
  background-color: transparent;
  border: none;
  color: #4386bf;
  font-weight: 600;
  font-family: 'Roboto Slab', serif;
  border-right: 2px solid #e8e8e8;
}

.wrapper {
  width: 100px;
  height: 100px;
  clip: rect(0, 100px, 100px, 50px);
  position: relative;
  left: -96%;
}

.circle {
  width: 80px;
  height: 80px;
  border: 10px solid #4386bf;
  border-radius: 50px;
  position: absolute;
}

div[data-anim~=base] {
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.wrapper[data-anim~=wrapper] {
  animation-duration: 0.01s;
  animation-delay: 1s;
  animation-name: close-wrapper;
  position: relative;
  left: 0;
}

.pres {
  width: 2.938rem;
  height: 2.438rem;
  margin: 0.063rem 7.063rem 0 0.688rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #121212;
}

.presentage {
  flex-direction: column;
  width: 50%;
}

.left {
  margin-top: 20px;
  width: auto;
  justify-content: center;
  align-items: center;
  margin-right: 10%;
  background-color: transparent;
}

.completed {
  opacity: 0.5;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
  font-weight: 800;
  color: #868383;
  margin-bottom: 10px;
}

.d-flex {
  display: flex;
}

.border {
  width: 30vw;
  height: 20vh;
  border-left: 1px solid gray;
  flex-direction: column;
  margin-right: 30px;
  align-items: center;
  justify-content: center;
}

.lesson {
  font-family: 'Roboto Slab', serif;
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 40px;
}

.Remove {
  width: 10rem;
  height: 5vh;
  background-color: #0290ff;
  color: #fff;
  border-radius: 3px;
  border: none;
  font-family: 'Roboto Slab', serif;
}

.chapter {
  font-family: 'Roboto Slab', serif;
  width: 20rem;
  justify-content: center;
  align-items: center;
  display: flex;
}

.progress {
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: center;
  align-items: center;
}

.addBookForm {
  width: 100%;
  display: flex;
}

 #book {
  width: 50%;
  background-color: #fff;
 }

 #category {
   width: 30%;
 }

 input {
  width: 20rem;
  height: 3rem;
  margin-right: 20px;
  background-color: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 8px;

}

.Add {
  width: 15%;
  height: 3.3rem;
  background-color: #0290ff;
  color: #fff;
  font-weight: 700;
  border-radius: 3px;
  border: none;
}

::placeholder {
  color: #121212;
  font-weight: 500;
  font-size: 1.250rem;
}